*{
   
    box-sizing: border-box;
}

.kartya{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
   width: 200px;
    text-align: left;
    border-radius: 8px;
    background-color: rgb(233, 196, 154);
    margin-bottom: 80px;
}

table, tr, td{
    border: 1px black solid;
    padding: 15px;
    border-collapse: collapse;
    text-align: center;
    padding: 25px;
    background-color: rgb(233, 196, 154);
    margin-bottom: 40px;
}

tr, td{
    max-height: 200px;
    width: auto;
    text-align: left;
}

.container{
    border: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.asztal{
    display: flex;
    align-items: center;
}

nav img{
    width: 40px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;    
}

nav button{
background-color: rgb(227, 237, 238);
} 

nav{
    float: center;
    padding-left: 60px;
}

article{
    padding: 40px;
}

form{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(207, 180, 121);
    width: max-content;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

body{
   
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(247, 233, 216);
    
}

img{
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
}

main{
    text-align: center;
}

main h2{
    letter-spacing: 4px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-bottom: 50px;
}

input{
    margin: 5px;
}

